<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fitme.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".FitMeApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FITME"
        tools:targetApi="31">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash.FITME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Home" />

        <activity
            android:name=".ui.bmi.GenderSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.bmi.InputDataActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.bmi.ResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.makan.MakanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.makan.FoodAnalysisActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.profil.ProfilActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.articles.ArticlesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <activity
            android:name=".ui.articles.ArticleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FITME.Light" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fitme.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>